<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Books</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">


    <style>
        
        .bcontent {
            margin-top: 10px;
        }
        
        
    </style>


</head>


<body>


    <div class="container-fluid bcontent" >
        
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="https://www.tutlane.com/images/categorylogo/bootstrap.png" width="30" height="30" /> <b>Books Sharing System</b></a>
            &nbsp;&nbsp;&nbsp;
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="userindex"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>Add Books</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b></b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b></b></a>
                </li>
            </ul>
           
            <form class="form-inline my-2 my-lg-0" >
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary btn-sm" type="submit">Search</button>
            </form>
            <p align="right">
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
            {% for prof in profile %}
            Welcome:
            {{prof.firstname}}<br><a href="{% url 'user:logout' %}"> Logout</a> <i class="fa fa-sign-out"></i>{% endfor %} 
        </p>
        </nav>
    </div>
  
    <div class="container-fluid bcontent" align="center">
        <form action="addbooks" method = "POST"> 
          {% csrf_token %}
            <div class="form-row" >
              <div class="form-group col-md-4">
                <label for="inputEmail4"><b>Book Name</b></label>
                <input  type="text" name="bookname" class="form-control" id="inputEmail4" placeholder="Book Name" required>
              </div>
              <div class="form-group col-md-4">
                <label for="inputPassword4"><b>Book Author</b></label>
                <input  type="text" name="bookauthor" class="form-control" id="inputPassword4" placeholder="Book Author" required>
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputEmail4"><b>Description</b></label>
                  <input  type="text" name="description" class="form-control" id="inputEmail4" placeholder="Description" required>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4"><b>Images</b></label>
                  <input  type="file" name="image" class="form-control" id="inputPassword4" placeholder="Images" multiple required>
                </div>
              </div>
              <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputState"><b>Sell/Rent</b></label>
                <select id="inputState" name="sr" class="form-control">
                  <option selected>Sell/Rent</option>
                  <option>Sell</option>
                  <option>Rent</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="inputZip"><b>Price</b></label>
                <input type="text" name="price" class="form-control" id="price" placeholder="Price of Book" required>
              </div>
            </div>
          </div>
            <div align="center">  <button  type="submit" class="btn btn-primary">Add Book</button></div>
            
          </form>
    </div><br>
  
<div class="container-fluid bcontent"  align="center">


  <table class="table table-striped">
    <tr>
      <th scope="col">Book Id</th>
      <th scope="col">Book Name</th>
      <th scope="col">Book Author</th>
      <th scope="col">Book Description</th>
      <th scope="col">Book price</th>
      <th scope="col">Action</th>
    </tr>
    {% for bd in book %}
    
    <tr>
     
      <td scope="row">{{bd.bid}}</td>
      <td scope="row">{{bd.bookname}}</td>
      <td scope="row">{{bd.bookauthor}}</td>
      <td scope="row">{{bd.description}}</td>
      <td scope="row"><b>Rs:</b> {{bd.price}}</td>
      <td scope="row"><button class="btn btn-primary btn-sm">Update</button> &nbsp; <button class="btn btn-primary btn-sm">Delete</button></td>
    </tr>
    {% endfor %}
    
  </table>
</div>

<div style="margin-top:160px;" class="container-fluid bcontent">
  <footer style="background-color:whitesmoke" class="container-fluid bcontent" , align="center">
      <a href="#"><i class="fa fa-facebook-official"></i></a>
      <a href="#"><i class="fa fa-pinterest-p"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-flickr"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <p class="container-fluid bcontent">
      Powered by <a href="" target="_blank">Books Sharing System</a>
      </p>
    </footer>
  </div>
</body>


</html>