<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">


    <style>
        
        .bcontent {
            margin-top: 10px;
        }
        

       
    </style>


</head>


<body>


    <div class="container-fluid bcontent" >
        
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="https://www.tutlane.com/images/categorylogo/bootstrap.png" width="30" height="30" /> <b>Books Sharing System</b></a>
            &nbsp;&nbsp;&nbsp;
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:userindex' %}"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b></b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b></b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b></b></a>
                </li>
            </ul>
           
            <form class="form-inline my-2 my-lg-0" >
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary btn-sm" type="submit">Search</button>
            </form>
            <p align="right">
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                {% for prof in profile %}
              Welcome:
              {{prof.firstname}}<br><a href="{% url 'user:logout' %}"> Logout</a> <i class="fa fa-sign-out"></i>{% endfor %} 
          </p>
        </nav>
    </div>
    <div class="container-fluid bcontent">
        {% for message in messages %}
        <p  style="color: green;text-align-last:center ;">{{ message }}<p>
         {% endfor %}
        </div>

        <div class="container-fluid bcontent">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="items">


                        
                       
                        <div class="product">
                            <div class="row">
                                <div class="col-md-3">
                                    <img class="img-fluid mx-auto d-block image" src="">
                                </div>
                                <div class="col-md-8">
                                    <div class="info">
                                        <div class="row">
                                            <div class="col-md-5 product-name">
                                                <div class="product-name">
                                                    <label for=""><b>Product:</b></label><br>
                                                    <a href="#"></a>
                                                    {% for ds in bookdt %}
                                              
                                                    <div class="product-info">
                                                       
                                                        <div>Book Name:{{ds.bname}} <span class="value"></span></div>
                                                        <div>Book id:{{ds.prod_id}} <span class="value"></span></div>
                                                        <div>Description:{{ds.payment}} <span class="value"></span></div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-4 quantity">
                                                <label for="quantity"><b>Quantity:</b></label>
                                                <input id="quantity" type="number" value ="1" class="form-control quantity-input" readonly>
                                            </div>
                                            <div class="col-md-3 price">
                                                <label for="quantity"><b>Price:</b></label><br>
                                                <span>Rs:200</span>
                                                   <p style="color: red;">{{ds.payment}}</p> 
                                            </div>
                                           
                                           
                                           
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        
                        
                       
                    </div>
                </div>
                <div class="col-md-12 col-lg-4" >
                    <div class="summary">
                        {% for prof in profile %} 
                        <h3>Order Summary</h3>
                        <div class="summary-item"><span class="text"> <i class="fa fa-shopping-cart" style="font-size:25px;color:blue"></i> <b>Address:</b><br>{{prof.address}}</span><span class="price"></span></div>
                       
                    
                        {% endfor %}
                    </div>
                    <form action="cart" method="POST">
                        {% csrf_token %}
                    <input hidden type="text" value="{{ds.prod_id}}" name="pd">
                    <input class="btn btn-primary btn-sm" type="submit" value="Pay">
                    <input class="btn btn-primary btn-sm" type="submit" value="Delete from Cart">
                    {% endfor %}
                </form>
                </div>
                
            </div> 
          
            <section>
                <div class="container-fluid bcontent">
    
                    
                    <table class="table table-striped">
                      <tr>
                        <th scope="col">Book Id</th>
                        <th scope="col">Book Name</th>
                        <th scope="col">Payment Status</th>
                        <th scope="col">Delivery Status</th>
                        
                      </tr>
                      {% for suc in booksuc %}
                      
                      <tr>
                       
                        <td scope="row">{{suc.prod_id}}</td>
                        <td scope="row">{{suc.bname}}</td>
                        <td scope="row">{{suc.payment}}</td>
                        <td scope="row">{{suc.d_status}}</td>
                       
                      </tr>
                      {% endfor %}
                      
                    </table>
                </div>
            </section>  


            <div style="margin-top:500px;" class="container-fluid bcontent">
                <footer style="background-color:whitesmoke" class="container-fluid bcontent" , align="center">
                    <a href="#"><i class="fa fa-facebook-official"></i></a>
                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-flickr"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <p class="container-fluid bcontent">
                    Powered by <a href="" target="_blank">Books Sharing System</a>
                    </p>
                  </footer>
                </div>
</body>


</html>