<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">


    <style>
        
        .bcontent {
            margin-top: 10px;
        }
        
        
    </style>


</head>


<body>


    <div class="container-fluid bcontent" >
        
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="https://www.tutlane.com/images/categorylogo/bootstrap.png" width="30" height="30" /> <b>Books Sharing System</b></a>
            &nbsp;&nbsp;&nbsp;
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:addbooks' %}"><b>Add Books</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:cart' %}"><b>Cart</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:profile' %}"><b>Profile</b></a>
                </li>
            </ul>
           
            <form class="form-inline my-2 my-lg-0" >
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary btn-sm" type="submit">Search</button>
            </form>
            
          <p align="right">
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
              &nbsp;
            {% if request.session.email %}
            Welcome:
            {{request.session.email}}<br><a href="{% url 'user:logout' %}">logout</a>{% else%}{% endif %}
        </p>
                
            
        </nav>
    </div>
    <div class ="container-fluid bcontent">

        <section>
            <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>

            </div>
        </section>
    </div>

    <div style="margin-top: 500px;">
        <footer class="container-fluid bcontent" , align="center">
            <a href="#"><i class="fa fa-facebook-official"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-flickr"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <p class="container-fluid bcontent">
            Powered by <a href="" target="_blank">Books Sharing System</a>
            </p>
          </footer>
        </div>
</body>


</html>