<!DOCTYPE html>

<html lang="en">
<head>
    <title>Registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    


    <style>
        .bcontent {
            margin-top: 10px;
        }
        .divider:after,.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
    </style>


</head>


<body>


    <div class="container-fluid bcontent">
        
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="https://www.tutlane.com/images/categorylogo/bootstrap.png" width="30" height="30" /> <b>Books Sharing System</b></a>
            &nbsp;&nbsp;&nbsp;
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}"><b>User Login</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>Delivery Agent Login</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>Admin</b></a>
                </li>
            </ul>
           
            <form class="form-inline my-2 my-lg-0" >
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary btn-sm" type="submit">Search</button>
            </form>
        </nav>
    </div>
    <div>
      {% for message in mesages %}
         <h6>  {{messages}}  </h6>
      {% endfor %}
  </div>
    <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
                alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              
              <form action="register" method = "POST" >
                {% csrf_token %}
      
                <div class="divider d-flex align-items-center my-4">
                  <p class="text-center fw-bold mx-3 mb-0"><b>Sign Up</b></p>
                </div>
                <!-- first_name -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3">First Name</label>
                  <input type="text" id="firstname" name="firstname" class="form-control form-control-sm"
                    placeholder="First Name" required/>
                </div>
                <!-- last_name -->
                <div class="form-outline mb-3">
                  <label class="form-label" for="form3Example4">Last Name</label>
                  <input type="text" id="lastname" name="lastname" class="form-control form-control-sm"
                    placeholder="Last Name" required/>
                </div>
                
                <!-- address -->
                <div class="form-outline mb-3">
                  <label class="form-label" for="form3Example4">Address</label>
                  <input type="address" id="address" name="address" class="form-control form-control-sm"
                    placeholder="Address" required/>
                </div>
                <!-- phone -->
                <div class="form-outline mb-3">
                  <label class="form-label" for="form3Example4">Phone</label>
                  <input type="text" id="phone" name="phone" class="form-control form-control-sm"
                    placeholder="Phone" required/>
                </div>
                
                  <!-- email -->
                  <div class="form-outline mb-3">
                    <label class="form-label" for="form3Example4">Email</label>
                    <input type="text" id="email" name="email" class="form-control form-control-sm"
                      placeholder="Email" required/>
                  </div>
                
                <!-- Password -->
                <div class="form-outline mb-3">
                    <label class="form-label" for="form3Example4">Password</label>
                    <input type="text" id="password1" name="password1" class="form-control form-control-sm"
                      placeholder="Password" onchange="form.password2.pattern=this.value" required/>
                  </div>
                <!-- confirm_Password -->
                <div class="form-outline mb-3" >
                    <label class="form-label" for="form3Example4">Confirm Password</label>
                    <input type="password" id="password2" name="password2" class="form-control form-control-sm"
                      placeholder="Password"  required/>
                  </div>
                <!-- Register Button -->
                <div class="text-center text-lg-start mt-4 pt-2">
                  <input type="submit"  class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;"></input>
                </div>
      
              </form>
              
            </div>
          </div>
        </div>
   
<div style="margin-top: 200px;">
    <footer class="container-fluid bcontent" , align="center">
        <a href="#"><i class="fa fa-facebook-official"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-flickr"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <p class="container-fluid bcontent">
        Powered by <a href="" target="_blank">Books Sharing System</a>
        </p>
      </footer>
    </div>
</body>


</html>